body {
  font-family: arial;
  text-align: center;
  background-color: #121212;
  color: #ffffff;
}

a {
  color: #ffffff;
}

.container {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  padding: 12px;
}
